*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
}

/* ROOT */
:root{
    --button-blu: #0061FF;
}

/* COMMON */
.flex{
    display: flex;
}
.container-large{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    /*debug*/
    background-color: rgb(208, 193, 222); 
    min-height: 100px; 
} 
.container-small{
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    /*debug*/
    background-color: rgb(93, 128, 120); 
    min-height: 500px; 
} 
.ul-none{
    list-style-type: none;
}
.a-none{
    text-decoration: none;
}


/* HEADER */
header{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    background-color: white;
    position: fixed;
    z-index: 9999;
    padding: 0 10px;

}

/* NAV */
nav .nav-l, .nav-r{
    gap: 1rem;
}
nav.flex{
        justify-content: space-between;
        align-items: center;
}
nav a{
    color: black;
}

.nav-l a> img{
    vertical-align: middle; 
}

.nav-r .button{   /*da aggiustare*/   
    padding: .2rem .5rem;
    background-color: var(--button-blu);
    color: white;
}


/* HERO */
.hero{
    background-color: #B4D0E7;
    margin-bottom: 50px;
}

/* HERO-TEXT */
.hero h1{
    font-weight:800;
    font-size: 3rem;
    padding: 30px 0;
}
.hero-text{
    width: 30%;
    padding-right: 10px;
    /*debug*/
    border:1px solid black 
}
.hero-text p, div{
    padding-bottom: 20px;
}

.hero-text .button{
    display: inline-block;
    margin-bottom: 20px ;
    padding: .3rem .6rem ;
    background-color: var(--button-blu);
    color: white;
}

/* HERO-IMG */
.hero-img{
    width:70%;
    /*debug*/
    min-height: 50px;
    border:1px solid black;
}

/* MAIN */

/* BUSINESS */
.business{
    width: 100%;
    margin-bottom: 50px;
    /*debug*/
    min-height: 400px;
    background-color: aqua;
}

.business-options{
    width: 100%;
    /*debug*/
    min-height: 300px;
    background-color: beige;
}

.business-card{
    width: calc(100% / 3);
    /*debug*/
    min-height: 300px;
    border: 1px solid black;
}

.business-card-bottom{
    width: 100%;
    /*debug*/
    min-height: 100px;
    border: 1px solid black;
    background-color: beige;
}

/* PARTNER */
.partner{
    width: 100%;
    margin-bottom: 50px;
    /*debug*/
    min-height: 300px;
    border: 1px solid black;
    background-color: rgb(218, 218, 108);
}

.partner-img{
    width:70%;
    /*debug*/
    min-height: 50px;
    border:1px solid black;
}
.partner-text{
    width: 30%;
    /*debug*/
    min-height: 50px;
    border:1px solid black 
}


/* PUBLICITY*/
.publicity{
    width: 100%;
    margin-bottom: 50px;
    /*debug*/
    min-height: 300px;
    border: 1px solid black;
    background-color: rgb(219, 219, 176);
}

.publicity-main.flex{
    flex-wrap: wrap;
}

.publicity-cards{
    width: calc(100% / 3);
    /*debug*/
    min-height: 150px;
    border:1px solid black;
    background-color: aqua;
}

/* SPOT da agiustare il max-width*/
.spot{
    width: 100%;
    margin-bottom: 50px;
    /*debug*/
    min-height: 100px;
    border: 1px solid black;
    background-color: rgb(237, 171, 143);
}

/* SPONSOR */
.sponsor{
    width: 100%;
    /*debug*/
    min-height: 500px;
    border: 1px solid black;
    background-color: rgb(179, 117, 90);
}
.sponsor-l, .sponsor-text, .sponsor-r{
    width: calc(100% / 3);
    /*debug*/
    border: 1px solid black;
}

/* AGENCY */
.agency{
    /*debug*/
    background-color: #B4D0E7;
    margin-bottom: 50px;  
}
.agency-main{
    /*debug*/
    min-height: 200px;
    border: 1px solid black;
    background-color: rgb(208, 188, 179);
}
.agency-text, .agency-button{
    width: calc(100% / 2);
    /*debug*/
    border: 1px solid black;
}

/* FAQ */

.question{
    margin-bottom: 50px;
    /*debug*/
    background-color: antiquewhite;
}

/* FOOTER */
footer{
    width: 100%;
    min-height: 500px;
    background-color: rgb(0, 0, 0);
}

/* FOOTER-TOP */
.footer-top{
    padding: 50px 0;
    /* debug */
    background-color: beige;
}
.footer-top.flex{
   justify-content: space-between;
}
.footer-link{  
    /*debug*/
    background-color: rgb(205, 178, 145);
}

.footer-link h4, .footer-link li{
    padding-bottom: 10px;
    color: white;
}

.footer-link a{
    color: white;
}

/* FOOTER-BOTTOM */
.footer-bottom{
    /*debug*/
    background-color: beige;
    border: 1px solid black;
}
.footer-bottom .language{
    width: fit-content;
    height: 100px;
    padding-right: 20px;
    line-height: 100px;
    color:#999999;
    /*debug*/
    background-color: rgba(99, 93, 84, 0.374);
    border-top: 1px solid black;
}
.language a{
    color:#999999;
    padding: 0 5px;
    
}