*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-size: 2rem;
}

/* ROOT */
:root{
    --button-blu: #0061FF;
    --button-white: #ffffff;
    --border: #E4E4E6;
}

/* COMMON */
.flex{
    display: flex;
}
.container-large{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    /*debug*/
    background-color: rgb(208, 193, 222); 
    min-height: 100px; 
} 
.container-small{
    width: 85%;
    max-width: 1100px;
    margin: 0 auto;
    /*debug*/
    background-color: rgb(93, 128, 120); 
    min-height: 500px; 
} 
.ul-none{
    list-style-type: none;
}
.a-none{
    text-decoration: none;
}
.relative{
    position: relative;
}
.button-blu{
    display: inline-block;
    background-color: var(--button-blu);
    padding: .3rem .6rem;
    color: white;
}
.button-white{
    display: inline-block;
    background-color: var(--button-white);
    padding: .3rem .6rem;
    border: 1px solid #040404;
}

/* HEADER */
header{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    padding: 0 10px;
    background-color: white;
    position: fixed;
    z-index: 9999;

}

/* NAV */
nav .nav-l, .nav-r{
    gap: 1rem;
}
nav.flex{
        justify-content: space-between;
        align-items: center;
}
nav a{
    color: black;
}

.nav-l a> img{
    vertical-align: middle; 
}

.nav-r .button-blu{  
   display: inline;
}


/* HERO */
.hero{
    background-color: #B4D0E7;
    padding-top: 60px;
    margin-bottom: 60px;
    min-height: 600px;   
}
.hero-main{
    /*debug*/
    border: 2px solid black;
}

/* HERO-TEXT */
.hero h1{
    font-weight:800;
    font-size: 3rem;
    padding-top: 3rem;
   
}
.hero-text{
    width: 30%;
    padding-right: 10px;
    /*debug*/
     border:1px solid black  
}
.hero-text p,.hero-text div{
    padding-bottom: 20px;
}

.hero-text .button-blu{
    margin-bottom: 20px ;
    
}

.hero-text .icon{
    font-size: 2rem;
    color: black;
}


/* HERO-IMG */
.hero-img{
    width:70%;
    /*debug*/
    border:1px solid black; 
}

/* MAIN */

/* BUSINESS */
.business{
    width: 100%;
    margin-bottom: 150px;
}

/* BUSINESS FORM */
.business> form{
    margin: 30px 0;
}

.business form> label{
    padding-right: 2rem;
}



/* BUSINESS CARD */
.business-options{
    width: 100%;
    margin-bottom: 50px;
}
.business-card{
    width: calc(100% / 3);
    /*debug*/
    min-height: 300px;
    border: 1px solid var(--border);
}

.business-card .container-card{
    width: 90%;
    margin: 0 auto;
}


.business-card> .profilo{
    border-bottom: 1px solid var(--border);
    text-align: center;
    margin-bottom: 2rem;
}

/* SUBSCRIPTION */
.subscription> span{
    display:block;
    padding: 5px 0;
}
.subscription .type-sub, .subscription .price-sub{
    font-weight: 800;
}
.subscription .type-sub{
    font-size: 2rem
}
.subscription .duration-sub{
    color: var(--border);
}

/* OFFER */
.offer{
    margin: 20px 0;
}
.offer> li{
    padding: 5px 0;
}

/* TRIAL */
.trial{
    text-align: center;
}
.trial> .button-blu{
    width: 100%;
    margin-bottom: 30px;
}

.container-card hr{
    margin: 50px 0;
    width: 25%;
}

/* SUMMARY */
.summary li{
    padding: 5px 0;
}
.summary .li-title{
    font-weight: bold;
    padding-bottom: 20px;
}
.summary i{
    padding-right: 5px;
    color: var(--button-blu);
}


/* BUSINESS-CARD-BOTTOM  */
.business-card-bottom{
    width: 100%;
    border: 1px solid var(--border); 
    
}
.business-card-bottom .container-card{
    width: 90%;
    margin: 0 auto;
}

.business-card-bottom .profilo{
    border-bottom: 1px solid var(--border); 
    text-align: center;
    margin-bottom: 2rem;
}
.business-card-bottom .subscription{
    width: 70%;
}
.business-card-bottom .office{
    width: 30%;
    text-align: end;
}
.business-card-bottom p{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

/* PARTNER */
.partner{
    width: 100%;
    margin-bottom: 50px;
}
.partner.flex{
    justify-content: space-between;
}

.partner-img{
    width:60%;

}
.partner-text{
    width: 35%;
    align-self: center;
}
.partner-text h3{
    font-size: 1.5rem;
}
.partner-text p{
    margin: 1rem 0;
}
.partner-text .button-white{
    margin: 1rem 0;
}


/* PUBLICITY*/
.publicity{
    width: 100%;
    margin-bottom: 50px;
}

.publicity-main.flex{
    flex-wrap: wrap;
    justify-content: space-between;
}

.publicity-cards{
    width: calc(90% / 3);
    margin: 50px 0;
}

/* PUBLICITY-CARDS */
.publicity-cards h3, .publicity-cards p{
    margin: 1rem 0;
}

/* SPOT da agiustare il max-width*/
.spot{
    width: 55%;
    margin-bottom: 100px;

}
.spot h2{
    margin-bottom: 2.5rem;
}

/* SPONSOR */
.sponsor{
    width: 100%;
    /*debug*/
    min-height: 500px;
    border: 1px solid black;
    background-color: rgb(179, 117, 90);
}
.sponsor-img, .sponsor-text{
    width: calc(100% / 3);
    /*debug*/
    border: 1px solid black;
}
.sponsor-img.flex{
    flex-wrap: wrap;
}
/* SONSOR-IMG */
.sponsor-img div{
    width: calc(100% / 2);
    height: 50%;
}
.sponsor-img> .flex{
    align-items: center;
    justify-content: center;
}
.sponsor-img img{
    width: 60%;  
    filter: invert(100%);
}

/* SPONSOR-DIV */
.sponsor-img .designit{
   background-color: #A2D39B; 
   /*border: 3px inset #A2D39B;*/
}
.sponsor-img .arizona{
    background-color: #61082B;
}
.sponsor-img .university{
    background-color: #43AECD;
}
.sponsor-img .topps{
    background-color: #FF1C1C;
}
.sponsor-img .world{
    background-color: #D5001F;
}
.sponsor-img .hearst{
    background-color: #B4D0E7;
}
.sponsor-img .lonely{
    background-color: #0D2481;
}
.sponsor-img .clear{
    background-color: #FFD830;
}

/* AGENCY */
.agency{
    /*debug*/
    background-color: #B4D0E7;
    margin-bottom: 50px;  
}
.agency-main{
    /*debug*/
    min-height: 200px;
    border: 1px solid black;
    background-color: rgb(208, 188, 179);
}
.agency-text, .agency-button{
    width: calc(100% / 2);
    /*debug*/
    border: 1px solid black;
}

/* FAQ */

.question{
    margin-bottom: 50px;
    /*debug*/
    background-color: antiquewhite;
}

/* FOOTER */
footer{
    width: 100%;
    min-height: 500px;
    background-color: rgb(0, 0, 0);
}

/* FOOTER-TOP */
.footer-top{
    padding: 50px 0;
    /* debug */
    background-color: beige;
}
.footer-top.flex{
   justify-content: space-between;
}
.footer-link{  
    /*debug*/
    background-color: rgb(205, 178, 145);
}

.footer-link h4, .footer-link li{
    padding-bottom: 10px;
    color: white;
}

.footer-link a{
    color: white;
}

/* FOOTER-BOTTOM */
.footer-bottom{
    /*debug*/
    background-color: beige;
    border: 1px solid black;
}
.footer-bottom .language{
    width: fit-content;
    height: 100px;
    padding-right: 20px;
    line-height: 100px;
    color:#999999;
    /*debug*/
    background-color: rgba(99, 93, 84, 0.374);
    border-top: 1px solid black;
}
.language a{
    color:#999999;
    padding: 0 5px;
    
}