*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

/* COMMON */
.flex{
    display: flex;
}

nav.flex{
    justify-content: space-between;
}
.container-large{
    width: 90%;
    margin: 0 auto;
    /*debug*/
    background-color: rgb(208, 193, 222); 
    min-height: 100px; 
} 
.container-small{
    width: 85%;
    margin: 0 auto;
    /*debug*/
    background-color: rgb(93, 128, 120); 
    min-height: 500px; 
} 

/* HEADER */
header{
    width: 100%;
    height: 50px;
    background-color: aqua;  /*debug*/
}

/* NAV */
nav .nav-l, .nav-r{
    background-color: blue;  /*debug*/
    height: 50px;     
}

/* HERO */
.hero{
    background-color: #b4d0e7;
    margin-bottom: 50px;
}

.hero-text{
    width: 30%;
    padding-right: 10px;
    /*debug*/
    min-height: 50px;
    border:1px solid black 
}
.hero-img{
    width:70%;
    /*debug*/
    min-height: 50px;
    border:1px solid black;
}

/* MAIN */

/* BUSINESS */
.business{
    width: 100%;
    margin-bottom: 50px;
    /*debug*/
    min-height: 400px;
    background-color: aqua;
}

.business-options{
    width: 100%;
    /*debug*/
    min-height: 300px;
    background-color: beige;
}

.business-card{
    width: calc(100% / 3);
    /*debug*/
    min-height: 300px;
    border: 1px solid black;
}

.business-card-bottom{
    width: 100%;
    /*debug*/
    min-height: 100px;
    border: 1px solid black;
    background-color: beige;
}

/* PATNER */
.patner{
    width: 100%;
    margin-bottom: 50px;
    /*debug*/
    min-height: 300px;
    border: 1px solid black;
    background-color: rgb(218, 218, 108);
}

.patner-img{
    width:70%;
    /*debug*/
    min-height: 50px;
    border:1px solid black;
}
.patner-text{
    width: 30%;
    /*debug*/
    min-height: 50px;
    border:1px solid black 
}
